<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/site.min.css">
	<title>Edit Todo List</title>
</head>
<body>
	<div class="container">
		<h6><a href="/todo">< Back</a></h6>
		<h1>Editing Todo List - {{ .Title }}</h1>
		<form method="POST">
			<div class="form-group">	
				<label for="title">Title:</label>
				<input id="title" name="title" value="{{ .Title }}" class="form-control">
			</div>
			<div class="form-group">	
				<label for="description">Description:</label>
				<input id="description" name="description" value="{{ .Description }}" class="form-control">
			</div>
			<button type="submit" class="btn btn-success">Add</button>
		</form>
	</div>
</body>
</html>